/*.header_wrp {*/
/*    margin: 0 auto;*/
/*    background-color: teal;*/
/*    width: 100%;*/
/*}*/

.navLinks {
    color: white;
    text-decoration: none;
}

.menuLinks {
    color: #505050;
    text-decoration: none;
}

.profileText{
    margin-right: 5px;
}
